.hello {

}

.picture-of-me {
  border-radius: 50%;
  width: 300px;
  vertical-align: center;
}


@media only screen and (max-width: 768px){
  .picture-of-me {
    width: 70%;
    padding: 10px;
  }
}

.projects {

}

.wrap-left {
  float: left;
  width: 100px;
  padding-right: 20px;
}
