
:root {
   --hdr-ftr: #613130;
   --bk-one: #DDE2D7;
   --bk-two: #ddd4ca;
   --emph-one: #AF9164; /* h1 */
   --emph-two: #AC5151; /* h4 */
 }


 /* :root {
    --hdr-ftr: #4C2719;
    --bk-one: #FFE0B5;
    --bk-two: #E1AA7D;
    --emph-one: #D35269;
    --emph-two: #A4AF69;
  } */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

nav, main, footer {
  /* automatically shrink is set to 1
  // 1 = items shrnk when there is not enough space
  */
  flex-shrink: 0; /* prevents items from shrinking */
}

@media only screen and (min-width: 600px) {
  section {
    padding: 5px 30%;
    margin: 0;
    background-color: purple;
  }
}

body nav {
  background-color: var(--hdr-ftr);
  padding: 5px 20% !important;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
}


main {
  background-color: var(--bk-one);
  flex-grow: 1; /* will grow to fill available space*/
}

footer {
  background-color: var(--hdr-ftr);
  text-align: center;
  padding: 5px 20%;
}

/* Text */
body h1,body h2 {
  color: var(--emph-one);
  /* text-align: center; */
}

body h4 {
  color: var(--emph-two);
}

/* sections */
section {
  padding: 30px 20%;
  margin: 0;
}
section:nth-child(odd) {
  background-color: var(--bk-one);
}

section:nth-child(even) {
  background-color: var(--bk-two);
}

/* @media only screen and (max-width: 600px) {
  section {
    padding: 5px 20px;
    margin: 0;
  }
} */

/* Icons About Me */
.badge {
  margin: 2px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #fff !important;
  margin: 0 10px;
  text-align: center;
}

footer p {
  color: #fff;
}
