
:root {
   --hdr-ftr: #416165;
   --bk-one: #FEFEEA;
   --bk-two: #F1F1DC;
   --emph-one: #70877F; /* h1 70877F*/
   --emph-two: #817F95; /* h4 4F5D75*/
   --h-five: #8DB580;
   --black: #020202;
   --white: #ffffff;
   --nav-txt: #F1F1DC;
   --links: #235789;
 }

 /* :root {
    --hdr-ftr: #4C2719;
    --bk-one: #FFE0B5;
    --bk-two: #E1AA7D;
    --emph-one: #D35269;
    --emph-two: #A4AF69;
  } */

.no-extras {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: var(--hdr-ftr);
}

nav, main, footer {
  /* automatically shrink is set to 1
  // 1 = items shrnk when there is not enough space
  */
  flex-shrink: 0; /* prevents items from shrinking */
}

/* Navbar */
body nav {
  background-color: var(--hdr-ftr);
  /* padding: 5px 20% !important; */
}

.navbar-nav {
  display: flex;
  padding-left: 0;
}

.navbar-brand {
  color: var(--nav-txt) !important;
}

.nav-link {
  color: var(--nav-txt) !important;
}

.container {
  max-width: 750px;
  /* padding: 0 20%; */
  margin: 0 auto;
}

main {
  background-color: var(--bk-one);
  flex-grow: 1; /* will grow to fill available space*/
}

footer {
  background-color: var(--hdr-ftr);
  text-align: center;
  padding: 5px 20%;
}

/* Text */
body h1,
body h2 {
  color: var(--emph-one);
  /* text-align: center; */
}

body h1 {
  padding: 5px 0 15px 0;
}

body h4 {
  padding: 5px 0;
  color: var(--emph-two);
}

body h5 {
  color: var(--h-five);
}

body p {
  color: var(--black);
}

/* sections */
section {
  padding: 30px 0;
  margin: 0;
  /* background-color: var(--bk-one); */
}

section:nth-child(odd) {
  background-color: var(--bk-one);
}

section:nth-child(even) {
  background-color: var(--bk-two);
}

/* @media only screen and (max-width: 600px) {
  section {
    padding: 5px 20px;
    margin: 0;
  }
} */

body a, body a:hover {
  color: var(--hdr-ftr);
}


/* Icons About Me */
.badge.my-badge {
  margin: 2px;
  background-color: var(--emph-one);
  color: var(--nav-txt);
  font-weight: 400;
  white-space: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer a {
  color: var(--nav-txt);
  margin: 0 10px;
  text-align: center;
}

footer a:hover {
  color: var(--nav-txt);
}

footer p {
  color: var(--nav-txt);
}

/* EDUCATION */
.courses {

}
