:root {
  --hdr-ftr: #416165;
  --bk-one: #fefeea;
  --bk-two: #f1f1dc;
  --emph-one: #70877f; /* h1 70877F*/
  --emph-two: #817f95; /* h4 4F5D75*/
  --h-five: #8db580;
  --black: #020202;
  --white: #ffffff;
  --nav-txt: #f1f1dc;
  --links: #235789;
}

* {
  background-color: var(--hdr-ftr);
}

body, h1, h2, h3, h4, p, div, .project-btn-logo {
  background-color: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body h1,
body h2,
body h3,
body h4 {
  text-align: center;
}

body h1,
body h2 {
  color: var(--emph-one);
}

body h3 {
  color: var(--bk-two);
}

p {
  text-align: justify;
}

.page-boundary {
  width: 90%;
  max-width: 50em;
  min-width: 100px;
  padding: 20px auto;
  margin: 0 auto;
}

section {
  background-color: inherit;
  margin: 0;
  padding: 5% 0;
}

section:nth-child(odd) {
  background-color: var(--bk-two);
}

section:nth-child(even) {
  background-color: var(--bk-one);
}

.single-box {
  background-color: var(--emph-one);
  border: 5px solid var(--emph-one);
  border-radius: 20px;

  margin: 5% 0;
}

/* BUTTONS */

.all-btns {
  text-align: center;
}

.project-btn {
  color: var(--emph-one);
  background-color: var(--bk-one);
  border: 5px solid var(--emph-one);
  border-radius: 10px;
  margin: 0 10px;
}

.project-btn-logo {
  fill: var(--emph-one);
}

.project-btn:hover {
  color: var(--emph-one);
  background-color: var(--bk-two);
  border: 5px solid var(--emph-two);
  /* border-radius: 10px; */
}

/* NAVIGATION */

nav {
  display: flex;
}

.nav-logo {
  text-align: left;
  color: var(--bk-two);
}

.nav-links {
  text-align: right;
  
}

.nav-side-l a,
.nav-side-r a {
  text-decoration: none;
  /* color: var(--emph-one); */
  color: var(--bk-two);
}

.nav-box {
  display: grid;
  grid-template-columns: auto auto;

}

.nav-side-l {
  grid-column-start: 1;
  grid-column-end: 2;
}

.nav-side-r {
  grid-column-start: 2;
  grid-column-end: 3;
}

