:root {
  --hdr-ftr: #416165;
  --bk-one: #fefeea;
  --bk-two: #f1f1dc;
  --emph-one: #70877f; /* h1 70877F*/
  --emph-two: #817f95; /* h4 4F5D75*/
  --h-five: #8db580;
  --black: #020202;
  --white: #ffffff;
  --nav-txt: #f1f1dc;
  --links: #235789;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.nav-space {
  height: 50px;
  /* background-color: red; */
}
